<table class="table table-striped">
  <tr>
    <td rowspan="2" style="width: 148px">
      <%= character_image(@character.id) %>
      <%= corporation_image(@character.corporation_id, 64) %>
    </td>
    <td><%= @character.name %></td>
    <th class="numeric">Total ISK Earned</th>
    <th class="numeric">Total Rat Kills</th>
    <th class="numeric">Average Tick</th>
    <th class="numeric">Favourite Faction</th>
  </tr>
  <tr>
    <td><%= @character.corporation.name %></td>
    <td class="numeric"><%= number_to_isk_short @character.total_isk %></td>
    <td class="numeric"><%= number_with_delimiter @character.total_kills %></td>
    <td class="numeric"><%= number_to_isk_short @character.average_tick %></td>
    <td class="numeric"><%= corporation_image @character.favourite_faction.corporation_id %> <%= @character.favourite_faction.name %></td>
  </tr>
</table>
<div class="row">
  <div class="col-sm-4">
    <table class="table table-striped">
      <caption>Earnings - Last 5 Days
        <span class="pull-right"><%= link_to 'More', character_earnings_path(@character) %></span>
      </caption>
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th class="numeric">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @earnings_by_day.each do |record| %>
          <tr>
            <td><%= isk_image %></td>
            <td><%= record.date %></td>
            <td class="numeric"><%= number_to_isk record.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-striped">
      <caption>Top 5 Ticks</caption>
      <thead>
        <tr>
          <th></th>
          <th>Timestamp</th>
          <th class="numeric">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @top_ticks.each do |record| %>
          <tr>
            <td><%= record_icon(record) %></td>
            <td><%= record.ts %></td>
            <td class="numeric"><%= number_to_isk record.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-striped">
      <caption>Top 5 Rats Bounty</caption>
      <thead>
        <tr>
          <th></th>
          <th>Rat Name</th>
          <th class="numeric">Bounty</th>
        </tr>
      </thead>
      <tbody>
        <% @valuable_rats.each do |record| %>
          <tr>
            <td><%= kill_image(record) %></td>
            <td><%= record.rat.name %></td>
            <td class="numeric"><%= number_to_isk_short record.rat.bounty %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<table class="table table-striped">
  <caption>Last 5 Ticks</caption>
  <thead>
    <tr>
      <th class="icon"></th>
      <th>Timestamp</th>
      <th>Details</th>
      <th></th>
      <th class="numeric">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @ticks.each do |record| %>
      <tr>
        <td><%= record_icon(record) %></td>
        <td><%= record.ts %></td>
        <td><%= record_details(record) %></td>
        <td>
          <% record.kills.each do |kill| %>
            <%= kill_image(kill) %>
          <% end %>
        </td>
        <td class="numeric"><%= number_to_isk record.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
